@{
    Layout = null;
}

<!doctype html>
<html>
    <head>
        <title>
            Baidu Picture Spider
        </title>
        <environment names="Staging,Production">
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
                    crossorigin="anonymous"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"></script>
        </environment>
    </head>
    <body>
        @RenderBody()
    </body>
</html>